{{#if hasLocation}}
  <div id="address-map" class="border-top">
    <div class="row no-gutters">
      <div class="col">
        <address>
          <strong>{{org.name}}</strong><br>
          <p>
            {{org.address}}<br>
            {{#if org.address2}}
              {{org.address2}}<br>
            {{/if}}
            {{org.city}}<br>
            {{#if org.state}}
              {{org.state}}<br>
            {{/if}}
            {{#if org.phone}}
              p: {{org.phone}}
            {{/if}}
          </p>
          {{#if org.meetingTimes.length}}
            <p class="mb-0">
              Services: {{org.meetingDay}} - {{org.meetingTimes}}
            </p>
          {{/if}}
        </address>
        {{#leaflet-map lat=org.latitude lng=org.longitude zoom=13 scrollWheelZoom=false}}

          {{tile-layer url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
          {{!-- {{tile-layer url="https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png"}} --}}
          {{!-- {{tile-layer url="https://b.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png"}} --}}
          {{#marker-layer location=location}}
            {{#popup-layer}}
              <h5>{{org.name}}</h5>
            {{/popup-layer}}
          {{/marker-layer}}

        {{/leaflet-map}}
      </div>
    </div>
  </div>
{{/if}}
