{{! login form; the fields must be named "identification" and "password"; the controller action is "authenticate" }}
{{!-- <a {{action 'authenticateWithFacebook'}} class="btn btn-default" style="cursor: pointer;">Login with Facebook</a>
<hr/>
<a {{action 'authenticateWithGoogleImplicitGrant'}} class="btn btn-default" style="cursor: pointer;">Login with Google (Implicit Grant)</a>
<hr/> --}}
<p>Login with email and password:</p>
<form class="form" role="form" id="formLogin" {{action 'authenticateWithOAuth2' on='submit'}}>
  <div class="form-group">
    <label for="identification">Email address</label>
    {{input value=identification type="text" class="form-control form-control-lg rounded-0" name="identification" id="identification" required=true}}
    <div class="invalid-feedback">Enter your email address</div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    {{input value=password class="form-control form-control-lg rounded-0" class='form-control' type='password' required=true autocomplete="off"}}
    <div class="invalid-feedback">Enter your password</div>
  </div>
  <div class="form-group">
    <label for='rememberMe'>
      {{input checked=rememberMe name='rememberMe' type='checkbox' id='rememberMe'}}
      Remember me
    </label>
  </div>
  <br>
  <button type="submit" class="btn btn-primary" id="btnLogin">Login</button>
</form>
{{#if errorMessage}}
  <br>
  <div class="alert alert-danger">
    <p>
      <strong>Login failed:</strong> <code>{{errorMessage}}</code>
    </p>
  </div>
{{/if}}
