<header>
  <nav class="navbar navbar-expand-md navbar-template">
    {{#link-to 'index' class='navbar-brand'}}
    {{org.name}}
    {{/link-to}}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        {{#if display.posts}}
        <li class="nav-item">
          {{#link-to 'posts' class='nav-link'}}
          Notices
          {{/link-to}}
        </li>
        {{/if}}
        {{#if display.ministries}}
        <li class="nav-item">
          {{#link-to 'ministries' class='nav-link'}}
          Ministries
          {{/link-to}}
        </li>
        {{/if}}
        {{#if display.sermons}}
        <li class="nav-item">
          {{#link-to 'messages' class='nav-link'}}
          Messages
          {{/link-to}}
        </li>
        {{/if}}
        {{#if pages}}
        {{#each pages as |page|}}
        <li class="nav-item page-mob-nav">
          {{#link-to 'page' page.id class='nav-link'}}
          {{page.title}}
          {{/link-to}}
        </li>
        {{/each}}
        {{/if}}
        <li class="nav-item page-mob-nav">
          {{#link-to 'contact' class='nav-link'}}
          Contact
          {{/link-to}}
        </li>
        {{#if pages}}
        <li class="nav-item dropdown page-nav">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">More</a>
          <div class="dropdown-menu dropdown-menu-right">
            {{#each pages as |page|}}
            {{#link-to 'page' page.id class='dropdown-item'}}
            {{page.title}}
            {{/link-to}}
            {{/each}}
            {{#link-to 'contact' class='dropdown-item'}}
            Contact
            {{/link-to}}
          </div>
        </li>
        {{else}}
        <li class="nav-item page-nav">
          {{#link-to 'contact' class='nav-link'}}
          Contact
          {{/link-to}}
        </li>
        {{/if}}
      </ul>
    </div>
  </nav>
</header>