<div class="card mt-2">
  <div class="card-header" id="heading{{index}}" data-toggle="collapse" data-target="#collapse{{index}}" aria-expanded="{{if (eq index 0) 'true'}}{{if (not-eq index 0) 'false'}}" aria-controls="collapse{{index}}">
    <p class="mb-0">
      {{#if meeting.title}}
        <i class="material-icons">subject</i>
      {{/if}}
      {{#if meeting.speaker}}
        {{meeting.speaker}} |
      {{/if}}
      {{date-format meeting.date 'h:mm a - ddd Do MMM YY'}}
    </p>
  </div>
  <div id="collapse{{index}}" class="collapse" aria-labelledby="heading{{index}}" data-parent="#accordion">
    <div class="card-body">
      <form class="form" role="form" {{action 'saveMeeting' meeting.speaker meeting.title meeting.date  on='submit'}}>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Speaker</label>
            {{input type="text" class="form-control" value=meeting.speaker aria-label="Meeting speaker"}}
          </div>
          <div class="form-group col-md-4">
            <label>Topic</label>
            {{input type="text" class="form-control" value=meeting.title aria-label="Meeting topic" placeholder="Optional" maxlength="50"}}
          </div>
          <div class="form-group col-md-4">
            <label>Time</label><br>
            {{ember-flatpickr
              date=meeting.date
              dateFormat='h:i K - d M y'
              enableTime=true
              onChange=(action 'saveDate')
              class="form-control"
            }}
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-outline-danger ml-2" {{action 'deleteMeeting'}}>Delete</button>
      </form>
    </div>
  </div>
</div>
