<div id="this-week-title">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h4 class="home">This week</h4>
      </div>
    </div>
  </div>
</div>
{{#if weekSchedule}}
<div id="this-week" class="d-flex flex-md-row flex-column justify-content-between align-items-stretch">
  {{#each-in weekSchedule as |day schedule|}}
  <div class="week flex-fill {{if (eq today day) 'today'}}">
    <div class="day">
      {{day}}
    </div>
    <ul>
      {{#each schedule as |event|}}
      <li>
        {{#if (eq event.type 'meeting')}}
        {{date-format event.date 'h:mmA'}} - Service
        {{else}}
        {{#link-to 'posts.show' event.id}}
        {{date-format event.date 'h:mmA'}} - {{event.title}}
        {{/link-to}}
        {{/if}}
      </li>
      {{/each}}
    </ul>
  </div>
  {{/each-in}}
</div>
{{/if}}