<div id="sunday" class="container-fluid bg-template">
  <div class="row">
    <div class="col">
      <div class="meeting-times card card-square text-white bg-template">
        <div class="card-body">
          <div class="row">
            <div class="col-6 d-none d-sm-block">
              <span class="hide">THIS WEEK</span>
            </div>
            <div class="col-md-6 col-sm-12">
              <span class="meeting-info">
                {{date-format meeting.date 'dddd'}}, {{date-format meeting.date 'D MMM'}} | {{date-format meeting.date 'h:mmA'}}
                {{#if meeting.speaker}}
                  | {{meeting.speaker}}
                  {{#if meeting.title}}
                  | {{meeting.title}}
                  {{/if}}
                {{/if}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
