/*
Colour variables
*/

$template: #46661e;
// $template: #2c0d1a;
$template-dark: saturate(darken($template,10%), 13%);
$template-light: desaturate(lighten($template,18%), 20%);
$template-lighter: desaturate(lighten($template,30%), 20%);
$template-lightest: desaturate(lighten($template,55%), 20%);

$gray-darker: #333;
$gray-dark: #555;
$gray: #999;
$gray-light: #ccc;
$gray-lighter: #eee;

.bg-template {
  background-color: $template;
}
.bg-template-dark {
  background-color: $template-dark;
}
.bg-template-light {
  background-color: $template-light;
}
.bg-template-lighter {
  background-color: $template-lighter;
}
.bg-template-lightest {
  background-color: $template-lightest;
}
