<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/newseed.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:100,300,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {{content-for "head-footer"}}

    <script type="text/javascript" id="inspectletjs">(function(){var insp_ab_loader=!0;window.__insp=window.__insp||[];__insp.push(['wid',409428837]);var ldinsp=function(){if(typeof window.__inspld!="undefined")return;window.__inspld=1;var insp=document.createElement('script');insp.type='text/javascript';insp.async=!0;insp.id="inspsync";insp.src=('https:'==document.location.protocol?'https':'http')+'://cdn.inspectlet.com/inspectlet.js?wid=409428837&r='+Math.floor(new Date().getTime()/3600000);var x=document.getElementsByTagName('script')[0];x.parentNode.insertBefore(insp,x);if(typeof insp_ab_loader!="undefined"&&insp_ab_loader){var adlt=function(){var e=document.getElementById('insp_abl');if(e){e.parentNode.removeChild(e);__insp.push(['ab_timeout'])}};var adlc="body{ visibility: hidden !important; }";var adln=typeof insp_ab_loader_t!="undefined"?insp_ab_loader_t:1200;insp.onerror=adlt;var abti=setTimeout(adlt,adln);window.__insp_abt=abti;var abl=document.createElement('style');abl.id="insp_abl";abl.type="text/css";if(abl.styleSheet)abl.styleSheet.cssText=adlc;else abl.appendChild(document.createTextNode(adlc));document.head.appendChild(abl)}};setTimeout(ldinsp,0)})();</script>

  </head>
  <body>
    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/newseed.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
