{{nav-header org=org pages=pages display=display}}

<div id="ministry" class="main mb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 back-link">
        {{#link-to 'ministries'}}
          <i class="material-icons">arrow_back</i> Back to ministries
        {{/link-to}}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h1>
          {{model.title}}
          {{#if session.isAuthenticated}}
            {{#link-to 'admin.content.edit' model.id}}
              <i class="material-icons">create</i>
            {{/link-to}}
          {{/if}}
        </h1>
        <hr>
        <img src="{{model.image}}" alt="{{model.title}}" />
        <p>{{{model.text}}}</p>
      </div>
    </div>
  </div>
</div>

{{nav-footer org=org}}
