{{nav-header org=org pages=pages display=display}}
<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1>Contact us by email using the form below</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="offset-md-1 col-md-10">
        <div class="card">
          <div class="card-body">
            <form class="form" role="form" id="formContact" action="https://formspree.io/{{contactEmail}}" method="POST">
              <div class="form-group">
                <label for="name-input">Name</label>
                <input class="form-control" type="text" id="name-input" name="name" placeholder="First and surname">
              </div>
              <div class="form-group">
                <label for="email-input">Email</label>
                <input type="email" class="form-control" id="email-input" name="_replyto" placeholder="name@example.com">
              </div>
              <div class="form-group">
                <label for="subject-input">Message subject</label>
                <select class="form-control" id="subject-input" name="subject">
                  <option>General enquiry</option>
                  <option>Prayer request</option>
                </select>
              </div>
              <div class="form-group">
                <label for="message-input">Message</label>
                <textarea class="form-control" id="message-input" rows="5" name="message-text"></textarea>
              </div>
              <button type="submit" value="Send" class="btn btn-primary mt-3 mb-3">Send message</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1>Our location</h1>
      </div>
    </div>
  </div>
  {{address-map org=org}}
</div>

{{nav-footer org=org}}
