{{nav-header org=org pages=pages display=display}}

<div class="main">

  {{slide-carousel id="home-carousel" slides=slides}}

  {{this-sunday meeting=nextMeeting org=org}}

  {{this-week events=events meetings=model.meetings org=org}}

  <div class="container-fluid">
    <div class="row">
      {{#if notices.length}}
      <div class="col-md">
        <h4 class="home">Notices</h4>
        <hr>
        {{post-summary posts=notices}}
      </div>
      {{/if}}
      {{#if media.length}}
      <div class="col-md">
        <h4 class="home">Messages</h4>
        <hr>
        {{media-audio media=media}}
      </div>
      {{/if}}
    </div>
  </div>

  {{address-map org=org}}

</div>

{{nav-footer org=org}}