{{nav-header org=org pages=pages display=display}}

<div class="main">
  <div class="container-fluid">
    {{#if (or speaker tags)}}
      <div class="row">
        <div class="col back-link mt-3">
          <a href='' {{action 'resetQuery'}}>See all messages</a>
        </div>
      </div>
    {{/if}}
    <div class="row">
      <div class="col">
        <h1>Messages</h1>
        <p>Expand the message player by cicking the + on each message title.</p>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul id="medias">
          {{#each model as |media index|}}
            <li>
              <article>
                <header>
                  <h3>
                    <a data-toggle="collapse" class="{{if (not-eq index 0) 'collapsed'}}" href="#mediaCollapse-{{index}}" aria-expanded="{{if (eq index 0) 'true'}}{{if (not-eq index 0) 'false'}}" aria-controls="#mediaCollapse-{{index}}">
                      <i class="material-icons collapsed-add">add_circle</i>
                      <i class="material-icons collapsed-remove">remove_circle</i>
                      {{media.title}}
                    </a>
                    {{#if session.isAuthenticated}}
                      {{#link-to 'admin.messages.edit' 'audio' media.id}}
                        <i class="material-icons">create</i>
                      {{/link-to}}
                    {{/if}}
                  </h3>
                </header>
                <p class="body">{{truncate-text media.text limit="500" stripHtml=true}}</p>
                <div class="collapse {{if (eq index 0) 'show'}}" id="mediaCollapse-{{index}}">
                  <video controls preload="none" name="{{media.title}}" poster="{{if media.image media.image}}{{if (not media.image) '/assets/img/audio.png'}}">
                    <source src="{{media.fileUrl}}" type="audio/mpeg">
                    <p class="body">Your browser doesn't support video/media playback.</p>
                    <p><a href="{{media.fileUrl}}" download>Download {{media.title}}</a></p>
                  </video>
                  <p class="download"><a href="{{media.fileUrl}}" download><i class="material-icons">file_download</i> Download {{media.title}}</a></p>
                  <br>
                </div>
                <span class="datestamp">{{!-- <span class="type">{{media.type}}</span>&nbsp;&nbsp;&nbsp;&nbsp; --}}{{date-format media.date 'D MMM YY'}}</span>
                {{#if media.speaker}}
                <p class="float-right meta">
                  <i class="material-icons">face</i>
                  {{#link-to 'messages' (query-params speaker=media.speaker) class="tag-link"}}
                    {{media.speaker}}
                  {{/link-to}}
                </p>
                {{/if}}
                {{#if media.tags}}
                <p class="float-right meta">
                  <i class="material-icons rotate">label_outline</i>
                  {{#each media.tags as |tag|}}
                    {{#link-to 'messages' (query-params tags=tag.name) class="tag-link"}}
                      {{tag.name}}
                    {{/link-to}}
                  {{/each}}
                </p>
                {{/if}}
              </article>
            </li>
            <hr>
          {{/each}}
          {{#infinity-loader infinityModel=model hideOnInfinity=true}}
            <div id="infinity">
              <div class="trinity"><div></div><div></div><div></div><div></div></div>
            </div>
          {{/infinity-loader}}
        </ul>
      </div>
    </div>
  </div>
</div>

{{nav-footer org=org}}
