{{nav-header org=org pages=pages display=display}}

<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div id="accordion" class="mt-3">
          {{#if model}}
            {{#each filteredPages as |page index|}}
              <div class="card">
                <div class="card-header" id="heading{{index}}" data-toggle="collapse" data-target="#collapse{{index}}" aria-expanded="{{if (eq index 0) 'true'}}{{if (not-eq index 0) 'false'}}" aria-controls="collapse{{index}}">
                  <h5 class="mb-0">
                    {{page.title}}
                  </h5>
                </div>
                <div id="collapse{{index}}" class="collapse {{if (eq index 0) 'show'}}" aria-labelledby="heading{{index}}" data-parent="#accordion">
                  <div class="card-body">
                    {{{page.text}}}
                  </div>
                </div>
              </div>
            {{/each}}
          {{/if}}
          {{#if people}}
            <div class="card">
              <div class="card-header" id="headingPeople" data-toggle="collapse" data-target="#collapsePeople" aria-expanded="true" aria-controls="collapsePeople">
                <h5 class="mb-0">
                  People
                </h5>
              </div>
              <div id="collapsePeople" class="collapse {{if (not model) 'show'}}" aria-labelledby="headingPeople" data-parent="#accordion">
                <div class="card-body">
                  {{#each people as |person|}}
                    <h1>{{person.name}}</h1>
                    <p>{{{person.text}}}</p>
                    <hr>
                  {{/each}}
                </div>
              </div>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>

{{nav-footer org=org}}
