{{nav-header org=org pages=pages display=display}}

<div id="page" class="mb-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="border-bottom pb-3 mb-3">
          {{model.title}}
          {{#if session.isAuthenticated}}
            {{#link-to 'admin.content.edit' model.id}}
              <i class="material-icons">create</i>
            {{/link-to}}
          {{/if}}
        </h1>
        <p>{{{model.text}}}</p>
      </div>
    </div>
  </div>
</div>

{{address-map org=org}}

{{nav-footer org=org}}
